@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

/*-------------------------------| NAV BAR |-------------------------------*/

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
}

.navbar a:hover {
    letter-spacing: 8px;
    color: #2db9b9;
}

.navbar a:active {
    color: #2db9b9;
}


/*---------------------------------| BODY |-------------------------------*/


body {
    font-size: 12px;
}
.jumbotron {
    text-align: center;
    width: 100%;
    background-color: white;
    padding-bottom: 0px;
    text-transform: none;
    letter-spacing: 1px;
}

h1 {
    font-size: 80px;
    font-family: 'Cedarville Cursive';
}

.jumbotron img {
    padding-bottom: 20px;
}

.tiles {
    text-align: center;
    padding-bottom: 20px;
}

.content {
    padding-left: 25%;
    padding-right: 25%;
}


a {
    color: #2db9b9;
}

a:hover {
    color: #e2e2e2;
    text-decoration: none;
}



.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
}

.relevantJobs .row:hover{
    background-color: #e2e2e2;
}

.conferences .row:hover{
    background-color: #e2e2e2;
}

.degree .row:hover{
    background-color: #e2e2e2;
}

.clubsAndOrgs .row:hover{
    background-color: #e2e2e2;
}



footer {
    display: none;
}

.section {
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
}



/*
  DEFAULT FONT:
  Helvetica Neue
  */


/*-----------------------------| HOMEPAGE |-------------------------------*/








p {
    color: #555;
    margin-bottom: 0px;
}




.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}





/*............................................................................................................................................
  ...................................................................... EXPERIENCE ...........................................................
  ............................................................................................................................................*/


/*******************************| HEADINGS |**************************************/

.heading {
    font-weight: bolder;
}


/*********************************| THUMBNAILS |**********************************/

label1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #2db9b9;
}

label2 {
    font-size: 14px;
    font-weight: bold;
}

label3 {
    font-size: 11px;
    text-transform: capitalize;
    font-weight: bold;
}

label4 {
    font-size: 20px;
    font-weight: bold;
    color: #4d4d4d;
}

.description {
    font-weight: normal;
}

.thumbnail {
    border-color: white;
}

p {
    text-transform: none;
}


/***********************************| JOB CONFERENCES SKILLS LABELS|**************************************/

.titlebox {
    height: 20px;
    text-align: left;
    color: #4d4d4d;
    margin-top: 20px;
    padding-left: 15%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    display: block;
    height: 0px;
    border: 1px solid #d6f5f5;
}

.dividers hr {
    display: block;
    height: 0px;
    border: .3px solid #cccccc;
    width: 30%;
}

h4 {
    color: #2db9b9;
}


.conferences img {
    width: 200px;
    height: 200px;
}






.conferences p {
    padding-top: 30px;
    text-transform: none;
}

.panel-body {
    text-transform: none;
    padding-top: 0px;
}


.modal-header {
    background-color: #33CC99;
}

.h3 {
    text-align: left;
}

.jobs {
    padding-top: 0px;
}

.projects {
    text-align: left;
}


.contact {
    text-align: center;
}


.modal img {
    width: 800px;
}

.modal-title {
    color: white;
}

.progress {
    height: 40px;
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #2db9b9;

}

.carousel-control-next, .carousel-control-prev{
  background-color: #e2e2e2; 
  width: 50px;
}

.tile{
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
    height: 200px;
    padding-top: 50px;
    margin: 10px;
}

.tile #caption{
    color: #e2e2e2;
    font-family: 'Cedarville Cursive';
    font-size: 20px;
}

.tile:hover{
    background-color: #4a4a4a;
}

.tile:hover #caption{
    font-family: 'Cedarville Cursive';
    font-size: 30px;
}

</style>