

  /*-------------------------------| NAV BAR |-------------------------------*/
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
        border-bottom: none;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 10px;
      }

      .navbar a:hover{
          letter-spacing: 8px;
      }

      .navbar a:active{
        color: #84e1e1;
      }

        /*---------------------------------| BODY |-------------------------------*/

           .jumbotron, .tiles{

                letter-spacing: 2px;
                text-align: center;
                width: 100%;
                font-size: 13px;

            }
                .content{
                  padding-left:20%;
                  padding-right: 20%;
                }

                .titlebox{
                  padding-left:15%;
                  padding-right: 20%;
                }

                a{
                  color: #2db9b9;
                }
                a:hover {
                  color: black;
              }


.parallax {

                /* Working method */
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(255, 0, 0, 0.7)


    ),
    /* bottom, image */
    url("http://i.imgur.com/dl6uXpj.png");

    /* Full height */
    height: 300px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {

                /* Working method */
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(255, 0, 0, 0.7)

    ),
    /* bottom, image */
    url("http://i.imgur.com/dl6uXpj.png");


    /* Full height */
    height: 150px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



      .row.no-gutter {
    margin-left: 0;
    margin-right: 0;
  }



  footer{
    display: none;
  }

  .sectionimg{
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
  }

  .thumbnail{
    height: auto;
  }

  .thumbnail img{
    height: 175px;
    padding-bottom: 20px;
  }

  /*
  DEFAULT FONT:
  Helvetica Neue
  */




  /*-----------------------------| HOMEPAGE |-------------------------------*/


  .jumbotron{
    background-color: white;
    padding-bottom: 0px;
    padding-left: 200px;
    padding-right: 200px;

    text-transform: none;
    letter-spacing: 1px;
  }
  .jumbotron h1{
    font-size: 60px;
  }

  .jumbotron img{
    padding-top: 60px;
    width: 400px;
    height: 400px;;
  }



 

  p{
      color: #555;
      margin-bottom: 0px;
  }

  .tiles{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    font-size: 10px;
  }


  .row.no-gutter [class*='col-']:not(:first-child),
  .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
  }



  .hovereffect {
    width: 98%;
    height: 98%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }

  .overlay {
    font-size: 20px;
  }

  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: description,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .hovereffect:hover .overlay {
    background-color: rgba(51, 0, 51, 0.4);
  }


  .hovereffect img {
    display: block;
    position: relative;
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .hovereffect:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }

  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: -52px 0 0 0;
    padding: 62px 100px;
  }

  .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }


  .info1{
    font-color: black;
  }


  /*............................................................................................................................................
  ...................................................................... EXPERIENCE ...........................................................
  ............................................................................................................................................*/

  /*******************************| HEADINGS |**************************************/
  .heading{
  letter-spacing: 3px;
  font-weight: bolder;
  }

  /*********************************| THUMBNAILS |**********************************/
  label1{
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 20px;
  color: #2db9b9;
  }

  label2{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  }

  label3{
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  font-weight: bold;
  }

  label4{
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;

  }

  .description{
    font-weight: normal;
  }
  .thumbnail{
    border-color: white;
  }

  p{
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: none;

  }
  /***********************************| JOB CONFERENCES SKILLS LABELS|**************************************/

  .titlebox{
    height: 20px;
    text-align: left;
    color: #4d4d4d;
  }

  hr{
    display: block;
    border 0;
    border: 1px solid #d6f5f5;
  }

  .dividers hr{
    display: block;
    border 0;
    border: .3px solid #cccccc;
  }

  h4{
    color: #2db9b9;
  }


  .conferences img{
    width: 200px;
    height: 200px;
  }






  .conferences p{
    padding-top: 30px;
    text-transform: none;
    letter-spacing: normal;
  }

  .panel-body{
   text-transform: none;
   letter-spacing: 4px;
   padding-top: 0px;
  }


  .modal-header{
  background-color:#33CC99;
  }

  .h3{
    text-align: left;
  }

  .jobs{
    padding-top: 0px;
  }

  .carousel{
    width: 450px;
    height: 250px;

  }

  .projects{
    text-align: left;
  }

  .contact img{
    width: 90px;
    height: 100px;
  }

  .contact{
    text-align: left;
  }

  .contact .description{
    text-transform: none;
    letter-spacing: normal;
    font-size: 12px;
  }


  .modal img{
    width: 800px;
  }

  .modal-title{
    color: white;
  }

  .progress-bar{
    background-color: #2db9b9;
  }



  </style>
